
/* Font sizes */
$font-size-sm: 0.875rem;
$font-size-md: 1rem;

/* Font colors */
$text-color: #919191;
$rating-button-color: #6bc880;
$quick-view-color: #708ad0;
$head-color: #434247;
$background-color: #e96a47;
$border-color: #e7e7e7;
